# Common Files
*.log
*.pot
*.pyc
local.py

# Virtualenv
venv

# Db
*.sqlite

# Ruby
*.sass-cache

# Media and Static files
media
static

# Vagrant files
.vagrant

# Gunicorn
gunicorn_start
run

# Logs
logs