Django==1.5.1
Pillow==2.1.0
South==0.8.1
argparse==1.2.1
distribute==0.6.34
django-compass2==0.2
django-markdown-deux==1.0.4
django-taggit==0.10a1
markdown2==2.1.0
sorl-thumbnail==11.12
wsgiref==0.1.2
