{% extends "base.html" %}

{% load markdown_deux_tags %}
{% load staticfiles  %}
{% load thumbnail %}

{% block header-content %}
 <div class="row"><div class="small-12 large-10 large-offset-1 columns"> <h2>{{ object.title }}</h2> </div></div>
 <nav>
    <ul fiso-facet="sections">
      <li><a class="selected" href="/#sections_cats=.{{object.section.title|slugify}}.">{{ object.section }}</a></li>
    </ul>
    <ul fiso-facet="tags">
      {% for tag in object.tags.all %}
        <li ><a class="selected" href="/#tags_cats=.{{tag|slugify}}.">{{tag}}</a></li>
      {% endfor %}
    </ul>
  </nav>
{% endblock header-content %}


{% block content %}
<article>

  {% if object.photo %}
    {% thumbnail object.photo "500" crop="center" as im %}
      <div class="row">
        {% if im.width > im.height %}
          <div class="large-6 large-offset-3 small-12 columns panel">
          {% else %}
          <div class="large-4 large-offset-4 small-12 columns panel">
          {% endif %}
                <img src="{{im.url}}">
          </div>
      </div>
    {% endthumbnail %}
  {% endif %}


  <div class="row">
    <div class="large-10 large-offset-1 small-12 columns panel">
        
        <p>{{ object.body|markdown:"trusted" }}</p>
        {% for tag in object.tags.all %}
          <small>{{tag}}</small>
        {% endfor %}
  	</div>
  </div>

</article>
{% endblock content %}