{% extends "base.html" %}

{% load markdown_deux_tags %}
{% load staticfiles  %}
{% load thumbnail %}

{% block body %}
<div class="row header-post">
  <div class="large-3 columns">
    <a href="/" class="avatar circle">
    <img src="{% static 'img/logo.png' %}" alt="Simplist">
    </a>
  </div>
  <div class="large-1 columns">
    <h1>Opárupi</h1>
  </div>
  <div class="large-1 columns">
    <h4> {{ object.section }} </h4>
  </div>
  <div class="large-7 columns">
  </div>
</div>

<div class="row">
  <div class="large-3 small-12 columns">
    
    {% if object.photo %}{% thumbnail object.photo "500" crop="center" as im %}
        <img src="{{im.url}}">
    {% endthumbnail %}{% endif %} 
  </div>
  <article class="large-9 small-12 columns panel">
        <h4>{{ object.title }}</h4>
       
        <p>{{ object.body|markdown:"trusted" }}</p>
          {% for tag in object.tags.all %}
        <small>{{tag}}</small>
          {% endfor %}
	</article>
</div>
	
{% endblock body %}