{% load markdown_deux_tags %}
{% load thumbnail %}
{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{% block title %}Oparupi{% endblock title  %}</title>

  
  <link rel="stylesheet" href="{% static 'stylesheets/app.css' %}" />
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
  <script src="{% static 'bower_components/modernizr/modernizr.js' %}"></script>

</head>
<body>
  <header>
	{% block header %}
	  <div class="row">
	  	<div class="small-12">
	      <a href="/" title="Opárupi" class="avatar">
	      	<img src="{% static 'images/logo.png' %}" alt="Simplist">
	      </a>
		  </div>
    </div>
	  {% block header-content %} {% endblock header-content %}		
	{% endblock header %}
  </header> 
  {% block content %} {% endblock content %}
  {% block footer %}
  <footer>
    <div class="row">
      <div class="small-12 large-6 small-centered large-centered columns">
        <small>Opárupi by 
          <a target="_blank" href="https://twitter.com/mativs"><span  aria-hidden="true"> @mativs</span></a> - 
          <a target="_blank" href="http://blog.pazguille.me/post/55039522901/why-the-fuck-do-you-write-in-english">¿Español o English?</a>
        </small>
      </div>
    </div>
  </footer>
    
  {% endblock footer %}
  
  {% block javascript %}
  <script src="{% static 'bower_components/jquery/jquery.js' %}"></script>
  <script src="{% static 'bower_components/foundation/js/foundation.min.js' %}"></script>
  <script src="{% static 'javascripts/app.js' %}"></script>
  {% endblock javascript %}
  <script src="{% static 'javascripts/oparupi.js' %}"></script>
</body>
</html>
