{% extends "base.html" %}

{% load staticfiles %}
{% load markdown_deux_tags %}
{% load thumbnail %}

{% block javascript %}
  {{ block.super}}
  <script src="{% static 'js/vendor/jquery-migrate-1.2.1.js' %}"></script>
  <script src="{% static 'js/vendor/jquery.ba-bbq.min.js' %}"></script>
  <script src="{% static 'js/vendor/jquery.isotope.min.js' %}"></script>
  <script src="{% static 'js/vendor/jquery.fisotope.js' %}"></script>
  <script src="{% static 'js/vendor/jquery.scrollTo.min.js' %}"></script>
  <script src="{% static 'js/vendor/jquery.cycle.lite.js' %}"></script>
{% endblock javascript %}

{% block header-content %}
  <div class="row"><div class="small-12"> <h1>Opárupi</h1> </div></div>
  
  <div class="row">
    <div class="small-12 large-12 columns">
      <div class="last-post">
        {% for section in sections %}
          {% if section.latest %}
            <article category="{{section.title|slugify}}" class="start-hidden">
              <h3><a href='{% url "posts:detail" slug=section.latest.slug %}'>"{{ section.latest.title }}"</a></h3>
              
              <i>{{ section.latest.body|markdown:"trusted"|truncatewords_html:20 }}</i>
            </article>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  <nav id="minav">
    <ul class="fiso-selector" fiso-facet="sections">
          <li class="fiso-example"><a href="#"></a></li>
    </ul>
    <ul class="fiso-selector" fiso-facet="tags">
          <li class="fiso-example"><a href="#"></a></li>
    </ul>
  </nav>
{% endblock header-content %}


{% block content %}
  
<div class="row">
  <div class="small-12 columns">
    <div class="row posts">
    {% for post in posts%}
      <article class="large-4 small-12 columns post start-hidden"
              fiso-tags=".{% for tag in post.tags.all %}{{tag|slugify}}.{% endfor %}"
              fiso-sections=".{{ post.section.title|slugify }}.">

        

        <div class="panel">
          <h4><a href="{% url 'posts:detail' slug=post.slug %}">{{ post.title }}</a></h4>
          {% if post.photo %}{% thumbnail post.photo "500" crop="center" as im %}
            <div class="">
              <img src="{{im.url}}">
            </div>
          {% endthumbnail %}{% endif %}
          <p>{{ post.body|markdown:"trusted"|truncatewords_html:40 }}</p>
          <div class="row">
            <div class="small-12 large-6 columns">
            {% for tag in post.tags.all %}
              <a href="#" class="fiso-toggle-category tag" fiso-facet="tags" fiso-category="{{tag}}">{{tag}}</a>
            {% endfor %}
            </div>
            <div class="small-12 large-6 columns">
              <small class="date">{{ post.created }}</small>
            </div>
          </div>
        </div>

      </article>
    {% endfor %}
    </div>
  </div>
</div>
  
{% endblock content %}